[2017-01-12 16:50] smajohusic opened #1 "Compile error dersom du har definert noe med let"
Får ikke compilet dersom du definerer en variabel med let. Eksempelet under fungerer så lenge du har kommentert ut alle let variabler.

https://codepaste.net/ttvhni

[2017-06-12 04:52] #1 closed

[2017-06-13 21:51] ecrmnn opened #2 "Except should return new collection"

[2017-06-15 17:14] #2 closed

[2017-06-17 17:24] afghl opened #3 "how does this differ from lodash?"
hi, ercmnn.

i am just confused, how does this differ from lodash?

[2017-06-17 17:54] mikebronner commented on #3
Mostly in the syntax. You can do all this with lodash if you like. Its a convenience for Laravel users, from what I understand. :) I'll let @ecrmnn answer officially, though.

[2017-06-17 23:55] mikebronner opened #5 "Suggestion: Offer the not implemented methods as aliases?"
I was looking at the few methods that are not implemented, but which are in Laravel, and was wondering if it might be a good idea to implemented them as aliases/wrappers that just call the intended method? This would keep users from having to worry about differences to Laravel, since overall it is expected to be the same (noting that this collection manager is always strict).

[2017-06-18 09:55] SirLamer commented on #5
One issue with that is that implies the base method in each case is not strict to users who have not noticed the readme disclaimer. You could implement the aliases as prototype methods for your own case.

I think it might make sense to include "notStrict" versions of each case, though in JS this can be sticky.

[2017-06-18 10:13] ecrmnn commented on #3
Hi, Afghl.

As @mikebronner said it's mostly in the syntax. ``Collect.js`` is a JavaScript port of [Laravel collections](https://laravel.com/docs/5.4/collections). You can use lodash or underscore if you'd like, but if you want a similar way to work with arrays/objects on your backend and frontend this is a nice way to achieve that.

[2017-06-18 10:13] #3 closed

[2017-06-18 12:16] jameslkingsley opened #7 "Cast object to array"
Would it be possible to auto-cast the collection to an array like Laravel does when PHP expects an array? For example this isn't possible right now:

[code]

[2017-06-18 14:50] stygiansabyss opened #8 "With laravel mix and standard set up"
Am i correct in assuming we would include this in the bootstrap.js as follows:

[code]

Thanks!

[2017-06-18 14:57] mikebronner commented on #5
Agreed. As the impetus of this package is to allow Devi to do the same things in JS as in Laravel, I thought it would be really important for everything to match in order to reduce mental debt. I was primarily looking at the `toArray()` method, since that is used a lot for semantic syntax.

[2017-06-18 16:08] hosmelq commented on #8
Yes, you can do that and collect will be added to the global scope.

[2017-06-18 16:15] ecrmnn commented on #8
Thanks @hosmelq 👍

[2017-06-18 16:15] #8 closed

[2017-06-18 16:46] #7 closed

[2017-06-18 16:48] ecrmnn commented on #7
Great suggestion @jameslkingsley!

I've implemented ``[Symbol.iterator]`` on the ``Collection`` object, so this should be possible now.

[2017-06-18 16:52] ecrmnn commented on #5
I'm open to add ``toArray()`` as an alias for ``all()``. I havn't added it because I thought people might be confused. What do you think?

[2017-06-18 16:58] mikebronner commented on #5
In Laravel the `toArray()` and `all()` methods are synonymous as well, right? Or is the difference that `toArray()` returns an array of values, while `all()` returns a key-value array? I never really looked at the differences and have always been implementing toArray to make my code be more expressive (the word `all` doesn't necessarily imply an array).

[2017-06-18 17:54] ecrmnn commented on #5
I think the ``toArray()`` needs to be an alias for [``values()``](https://github.com/ecrmnn/collect.js/blob/master/src/index.js#L853) or [``all()``](https://github.com/ecrmnn/collect.js/blob/master/src/index.js#L913).

``values()`` makes sense if your collection is an object, like this
[code]

[2017-06-18 17:58] ecrmnn commented on #5
What about:

If the collection is an array, we simply return all items (like [``all()``](https://github.com/ecrmnn/collect.js/blob/master/src/index.js#L913)).

If the collection is an object, we return the values of that object (like [``values()``](https://github.com/ecrmnn/collect.js/blob/master/src/index.js#L853)).

[2017-06-18 21:28] SirLamer commented on #5
By the way, with the comparison methods you can make them not strict by forcing use of a not strict operator in the second argument.

[2017-06-19 02:45] marlazinger200 commented on #7
1

[2017-06-19 02:45] marlazinger200 opened #12 "Mr."
1

[2017-06-19 05:14] ecrmnn commented on #12
2

[2017-06-19 05:14] #12 closed

[2017-06-19 07:31] gayanhewa opened #13 "Regression stats / benchmark"
Thanks for your work on this. Do you have any stats on upper limits with larger collection sizes, benchmarked performances etc?

[2017-06-19 09:59] Gynidark commented on #13
It's true that it would be cool to know !

[2017-06-19 11:41] BrainMaestro opened #15 "Splitting functions into separate files"
Due to the number of implemented functions, the code starts getting a little difficult to parse. Would you be interested in splitting the functions into separate files? It's not necessary, but I feel like it would help encourage contribution.

Great project btw.

[2017-06-19 13:06] sacharbit commented on #15
It seems pretty weird to split the document into multiple separate files since it's a collection of functions and methods. Which functions would go with which? Also, it's nice to have only one file to implement it if we don't want to use npm.

[2017-06-19 13:27] codebeauty commented on #13
A small comparison with some [Lodash](https://lodash.com/docs/4.17.4) methods would be nice to get a idea. Sadly i'm to busy right now.

Thanks for the work and keep it up.

[2017-06-19 14:20] faalotaiby commented on #5
as long as the toarray() returns an array of values keep this array values implemented which doesn't complicate it with all() values of this object, if it's implemented in both with same value then you'll get an error message

[2017-06-19 14:29] BrainMaestro commented on #15
Not weird at all. Take a look at [ramda](https://github.com/ramda/ramda/tree/master/src). Also why would you not use a package manager? I don't think maintainers should care about that scenario.

[2017-06-19 14:35] g-plane opened #19 "How about adding ESLint rules?"
Personally, I think ESLint rules is necessary and good for other's contribution.

[2017-06-19 15:37] mikebronner commented on #15
Perhaps a compromise would be to sort the methods alphabetically?

[2017-06-19 19:17] ecrmnn commented on #5
Added ``toArray()``.
https://github.com/ecrmnn/collect.js/blob/master/src/index.js#L895

[2017-06-19 19:22] ecrmnn commented on #15
Great idea @BrainMaestro! I would like to do that with the tests as well.
Feel free to submit PR 😃

[2017-06-19 19:22] #15 closed

[2017-06-19 19:23] ecrmnn commented on #15
PS: Closed because I want to keep open issues to a minimum

[2017-06-19 19:42] ecrmnn commented on #19
Working on it 👍

[2017-06-19 21:40] thane421 opened #20 "pull leaving behind undefined objects in collection"
[code]

Results:
![image](https://user-images.githubusercontent.com/14238227/27307124-dbbbb472-550d-11e7-86d7-4944bde13203.png)

[2017-06-19 21:48] thane421 commented on #20
it looks like it's just behaving as typical javascript array would.
I'll attempt using slice instead, assuming it will modify the original collection as well.

[2017-06-19 22:00] thane421 commented on #20
splice works for what I need.

[2017-06-19 22:00] #20 closed

[2017-06-19 23:23] mikeerickson commented on #13
@codebeauty @gayanhewa Sounds like a great opportunity for contribution

[2017-06-19 23:24] mikeerickson commented on #5
@ecrmnn If you are interested, I can take on the task of adding the appropriate helpers.

[2017-06-19 23:27] mikeerickson commented on #15
@ecrmnn Since @mikebronner does not know how to do testing might be out of scope.  But the request indeed a good one.   I am about to jump in with both feet and get my hands dirty.

[2017-06-19 23:39] mikebronner commented on #15
@mikeerickson This is @BrainMaestro 's inquiry. :)

[2017-06-19 23:49] mikeerickson commented on #15
@BrainMaestro whoops, sorry see above :-)

cc: @mikebronner

[2017-06-20 03:24] hiendv commented on #19
I would vote for eslint-config-standard

[2017-06-20 03:30] g-plane commented on #19
@hiendv Sounds good! But @ecrmnn uses semi.

[2017-06-20 04:18] hiendv commented on #19
Airbnb is my second favorite config then :laughing:

[2017-06-20 07:52] fosron commented on #5
Probably should still add those methods, but just add a `console.error` to inform developers of the intended use.

[2017-06-20 07:58] Coriou opened #85 "Merge() not working as expected ?"
Hey,

I'm noticing an issue with the [merge()](https://github.com/ecrmnn/collect.js#merge) method. Here's what I'm getting running the example:

[code]

In my console:

![img](https://i.imgur.com/Me4zEx9.png)

So, I don't have a complete understanding of JS prototypes, but from what I can see the object returned only has the content of the merged object (the second object), and it's prototype has

[2017-06-20 08:58] Coriou commented on #85
Ok, I'm sorry. I did read about prototypes and this does indeed seem normal. The problem, for me, is actually elsewhere but I can't figure out where yet.

Sorry for bothering.

[2017-06-20 08:58] #85 closed

[2017-06-20 10:05] blx opened #89 "random() mutates the collection"
Not only that, it shuffles the collection in place:
[code]

I humbly suggest it would be more clear to either update the documentation to note that, or to adjust the code to be pure -- a user might not expect their ordered array to be shuffled when asking for a random element.

[2017-06-20 11:16] ajaymathur opened #92 "filter function should support passing keys and case when no arguments are passed"
Bug - Yes
Description - when no arguments are passed filter should remove all the falsy values from the collection.

[2017-06-20 11:50] ajaymathur commented on #92
I can take it up after https://github.com/ecrmnn/collect.js/pull/90 is merged, else rework will be required.

[2017-06-20 12:29] mrholeechit commented on #89
There's a PR open to fix this issue #93

[2017-06-20 19:00] #89 closed

[2017-06-20 19:53] ecrmnn commented on #5
Sure @mikebronner, make an implementation and I'll have a look. Right now I can't really decide how I'd like it to work.

[2017-06-20 19:55] mikebronner commented on #5
You probably meant @mikeerickson ? :)

[2017-06-20 20:33] ajaymathur commented on #92
fixed in https://github.com/ecrmnn/collect.js/pull/96

[2017-06-20 21:19] ecrmnn commented on #5
Hah, yes I meant @mikeerickson 😅

[2017-06-20 23:54] mikeerickson commented on #5
@ecrmnn I will get a POC created and we can discuss.

[2017-06-21 08:56] BrainMaestro commented on #19
While we're adding eslint configs, could we add prettier too?

[2017-06-21 08:58] g-plane commented on #19
@BrainMaestro I think ESLint is enough.

[2017-06-21 09:08] BrainMaestro commented on #19
Well, let's see what @ecrmnn thinks. Formatting is much easier with prettier and it can be integrated easily with eslint.

[2017-06-21 10:05] g-plane commented on #19
@BrainMaestro You are right.

[2017-06-21 10:41] ajaymathur commented on #92
fixed in https://github.com/ecrmnn/collect.js/pull/102

[2017-06-21 10:50] ajaymathur opened #103 "Chunk is mutating the collection"

[2017-06-21 11:04] ajaymathur commented on #103
fixed in https://github.com/ecrmnn/collect.js/pull/104

[2017-06-21 11:38] isurindu opened #105 "Firefox SyntaxError: missing = in const declaration"
i'm getting this error on firefox

SyntaxError: missing = in const declaration

module.exports = function except(properties) {
  const collection = {};

  for (const prop in this.items) {
    if (properties.indexOf(prop) === -1) {
      collection[prop] = this.items[prop];
    }
  }

  return new this.constructor(collection);
};

[2017-06-21 12:13] ajaymathur commented on #105
reference : [MDN link](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Missing_initializer_in_const)

[2017-06-21 12:16] g-plane commented on #105
@isurindu How do you import this library?

[2017-06-21 13:04] richstandbrook opened #106 "Working with objects"
Just checking about the "wrapper for working with arrays and **objects**". Is this implemented yet? It's just when I pass in an object and try and use many of the functions: `transform`, `map`, `pop` etc. then it fails as it is trying to call the corresponding methods on `this.items` assuming that it is an array.

Am I doing something wrong or can I just not use objects in collect.js?

Brilliant l

[2017-06-21 14:10] isurindu commented on #105
like this

window.collect = require('collect.js')

[2017-06-21 14:15] g-plane commented on #105
Well, browsers don't support CommonJS, so you can't use `require` directly. You can use some tools like Webpack to bundle it. To be delightful, this library may support UMD later, which means you can use `collect` as a global variable.

[2017-06-21 14:19] g-plane commented on #106
You can use objects in collect.js, but not all methods support objects like `map` so far. These methods only support array.

[2017-06-21 14:43] RaulWei opened #107 "What does it should be when we call `toArray()`?"
Suppose there is an object collection like that
[code]
What does it should be if we call `collect(people).toArray()`?
In current implementation, it will return
`[ 'wei', 'male', [ 15211111111, 13511111111 ], { name: 'IBM', city: 'BJ' } ]`.
Should it be `[ 'wei', 'male', [ 15211111111, 13511111111 ], [ 'IBM', 'BJ' ] ]`?

[2017-06-21 15:12] isurindu commented on #105
i'm using laravel mix

[2017-06-21 15:14] g-plane commented on #105
Oh, sorry for my misunderstanding.

[2017-06-21 15:20] g-plane commented on #107
I think `[ 'wei', 'male', [ 15211111111, 13511111111 ], [ 'IBM', 'BJ' ] ]` is not consistent with Laravel.
For example (in Laravel 5.4):
[code]

The result is:
![image](https://user-images.githubusercontent.com/17216317/27392018-1010d9e8-56d8-11e7-8b15-24914e63c08c.png)

[2017-06-21 19:27] BrainMaestro commented on #106
The issue is that PHP treats hashmaps and arrays as the same datastructure while they are different in JavaScript and basically everywhere else. Translating a PHP specific array library to JS will cause issues like you're having. No way around it really. Functions like `map` and `pop` do not really make sense on objects.

[2017-06-21 19:45] ecrmnn commented on #107
It's not consistent with Laravel right now because in PHP have associative arrays, while JS don't.

I think it would be weird to return an object from a method called ``toArray()``, but it would be consistent with Laravel.

What do you think? I'm open for a discussion

[2017-06-21 19:48] ecrmnn commented on #106
Open for PRs if there is a good way to do this 😄  Closing for now.

[2017-06-21 19:48] #106 closed

[2017-06-21 19:57] ecrmnn commented on #105
I'm not able to reproduce this. What am I missing?

[code]

[code]

[code]

[code]

[2017-06-21 19:58] #103 closed

[2017-06-21 19:58] #92 closed

[2017-06-21 20:02] ecrmnn commented on #19
Working on adding eslint for now, but I'll have a look at prettier too.

[2017-06-21 22:58] solomonhawk commented on #107
It is my(random JS developer) opinion that the closest equivalent data structure in JS would be a nested array of `[key, value]` pairs. This is admittedly more awkward to work with than an object or real associative array. I wonder what the use case is for calling `toArray()` on an object wrapped in `collect`.

Input:
[code]

Output:
[code]

[2017-06-22 18:21] sunscreem opened #114 "Unable to run npm run production in laravel 5.4"
I'm importing collect globally in laravel's default `bootstrap.js` file:

[code]

When I run `npm run development` everything works fine.

When I run `npm run production` I get the following error:

[code]
(Laravel version: 5.4.24, Mix Version: 0.12.1)

Anyone any ideas?

[2017-06-22 19:11] ecrmnn commented on #114
I've just published version 3.0.31.

Could you try to reinstall your node modules? And try again?

[code]

[2017-06-22 19:11] ecrmnn commented on #105
@isurindu

I've just published version 3.0.31.

Could you try to reinstall your node modules? And try again?

[code]

[2017-06-22 19:12] #19 closed

[2017-06-22 19:28] sunscreem commented on #114
Yup.

That's working a treat now.

Thank you.

[2017-06-22 19:28] #114 closed

[2017-06-23 00:18] mtpultz opened #115 "Feature: CollectJS Typings"
Is there a set of typings for use with Angular/TypeScript projects?

[2017-06-23 00:20] g-plane commented on #115
Yes. You don't need to install any 3rd-party typings library.
https://github.com/ecrmnn/collect.js/blob/master/index.d.ts

[2017-06-23 00:22] mtpultz commented on #115
Thanks 👍  I didn't notice that file as I was browsing.

[2017-06-23 00:22] #115 closed

[2017-06-23 16:25] ecrmnn commented on #13
Closing this because of inactivity. PRs are welcome.

[2017-06-23 16:25] #13 closed

[2017-06-25 02:20] wmj0cn commented on #107
dont see the usefulness of this method, would you like to give a real use scenario of it?

[2017-06-25 15:02] tenghuanhe opened #118 "Sum using iterator/reduce"
I've opened [ PR#95](https://github.com/ecrmnn/collect.js/pull/95) several days ago, which uses `reduce` instead of `iterator` to implement `sum` function with fewer lines of code. However, [a simple benchmark test](https://github.com/tenghuanhe/collectjs-sum-benchmark) shows `iterator_sum` is 3x ~ 5x times faster than `reduce_sum`.

According to https://developer.mozilla.org/en/docs/Web/JavaScrip

[2017-06-25 15:08] #118 closed

[2017-06-25 15:09] ecrmnn commented on #118
Thanks for benchmarking and figuring this out @tenghuanhe. Implemented the old method now.

[2017-06-25 15:15] #105 closed

[2017-06-25 15:15] #5 closed

[2017-06-26 11:51] faalotaiby commented on #107
In my opinion calling it ToArray is not useful,   unless you needed an array, that says pass it to method which only accepted Integer() as a parameter.

[2017-06-26 14:49] RaulWei commented on #107
Sorry for that I'm not familiar with Laravel, I propose this problem standing at the general position.

[2017-06-28 06:53] Helfull opened #119 "mapWithKeys after groupBy errors with "this.items.forEach is not a function""
hey,

i have this pipeline

[code]

and this does error with `this.items.forEach is not a function` at the `mapWithKeys` method,

is it intentional that `mapWithKeys` does not support hashmaps?

[2017-06-28 08:01] #107 closed

[2017-06-28 19:27] ecrmnn commented on #119
Could you provide the ``this.content``?

[2017-06-29 06:53] Helfull commented on #119
Something like this

[code]

[2017-06-29 20:42] ecrmnn commented on #119
Ah, yeah. Hashmaps/objects are not supported. I tried to solve this in a different way but didn't find anything that worked the way I wanted. I'll dig into this. Maybe I'll rewrite several methods. This should be possible.

[2017-06-30 06:04] Helfull commented on #119
hey wouldn't it be easy to just rework the `each` method and then use this in place for the build in `forEach`?

[2017-06-30 06:09] ecrmnn commented on #119
Yep, something like that. I also want to make ``map`` and ``transform`` work with objects.

[2017-06-30 06:17] Helfull commented on #119
if i find time this weekend i could see if i can make a PR

[2017-06-30 07:41] Helfull opened #120 "default value of 0 for `get` gives NULL"
hey again,

calling
[code]

gives `null`

but should return `0`

[2017-06-30 07:59] Helfull opened #121 "`macro` method is only callable on an instance"
Hey,

if i want to create a macro for global use, like in laravel. I would do something like this:
[code]

and then use it were ever i need it.
but with the current implementation i get the error:
[code]

[2017-06-30 13:43] #120 closed

[2017-06-30 16:37] Helfull opened #122 "how about adding a CONTRIBUTING.md?"
Hey,

could you write a short CONTRIBUTING.md, so everyone who wants to constribute knows how.

i myself would like to constribute but i cant get the env working to run those tests.

[2017-06-30 17:30] Helfull commented on #121
nvm should had read the docs :P

[2017-06-30 17:30] #121 closed

[2017-07-01 10:42] ecrmnn commented on #119
Thanks for you PR @Helfull 😄

[2017-07-01 10:42] #119 closed

[2017-07-06 11:33] EmilMoe opened #124 "Doesn't work well in IE"
I get a `const is not initialized`. It points to this function, but I guess it's valid for all. Would it be possible to make it available for IE too?

[code]

[2017-07-06 15:19] tlgreg commented on #124
The issue is the `const` in the `for ... in` iteration  scope, MS only started supporting it in Edge 14.
See compatibility table: http://kangax.github.io/compat-table/es6/

The question is, this is the only issue with IE11, Edge (<14)?

[2017-07-06 20:04] ecrmnn commented on #124
This shouldn't be an issue now that we're transpiling to ES5.

Could you try reinstalling the module?

[2017-07-10 06:13] ecrmnn commented on #124
Closing due to inactivity

[2017-07-10 06:13] #124 closed

[2017-07-10 11:15] EmilMoe commented on #124
I'm sorry I'm on vacation in Brazil, so I can't answer so frequently.

I have the issue in IE11, is there anything I need to do or when did you change something? Because my install was from before you started transpiling to ES5?

[2017-07-10 13:17] ecrmnn commented on #124
Did you try to reinstall the package? It should work when you get the recent version

[2017-07-10 13:18] EmilMoe commented on #124
@ecrmnn thanks. I will try as soon as possible. Now I'm unfortunately on vacation in Brazil and only have my Macbook with me, that limits my testing abilities with IE unfortunately and the client will promptly complain if I put up a live version that is broken. So I will return back when I can.

[2017-07-13 16:43] santigarcor opened #125 "Doesn't work with vuejs v-for"
First thanks for this package, it's like using laravel collections.

I tried to use one of your collections in a v-for in vue and it doesn't iterate over the collection items, instead it iterates over the collection Object properties.

I have the latest version of your package.

[2017-07-14 04:55] ecrmnn commented on #125
Hi

Yes, a normal ``for in ...`` have that behaviour. It's possible to iterate through ``Collection`` using ``for of ...`` but I don't know if that's possible in ``v-for``. I'll check it out.

In the meanwhile I'd recommend something like this:
[code]

[2017-07-14 04:59] santigarcor commented on #125
Ok thanks!

[2017-07-14 07:51] tlgreg commented on #125
Currently vue supports only actual arrays with v-for.
Most likely iterator support will only come in vue3, though the [issue](https://github.com/vuejs/vue/issues/5893) is still open.

[2017-07-14 08:52] ecrmnn commented on #125
Ah. Thanks for clearing that up, @tlgreg. I tweeted Evan You about it but havn't got an answer yet.

[2017-07-14 18:47] #125 closed

[2017-07-20 12:17] Zion-007 opened #126 "bug in merge&union method?"
`const collection = collect({
  a: 'A',
  b: 'B',
  d: 'D'
});

const merged = collection.merge({
  a: 'AAA',
  b: 'BBB',
  c: 'CCC'
});

console.log(merged.all()) // { a: 'AAA', b: 'BBB', c: 'CCC' } but expect  { a: 'AAA', b: 'BBB', c: 'CCC' , d: 'D'}

console.log(merged.all().b) // BBB
merged.forget('b')
console.log(merged.all().b) // B, expect undefined
`
i know in method file: merge.js and uni

[2017-07-24 16:33] #126 closed

[2017-07-24 16:33] ecrmnn commented on #126
Wow thanks. Nice find. Fixed in 3.0.47

[2017-07-26 13:59] lauhakari commented on #124
Also getting error in IE11. Seems like not everything is being compiled down.
The error I get is on "Symbol". --> _'Symbol' is undefined_

Might need babel-polyfill I've learned :)

[2017-07-26 14:09] lauhakari commented on #124
I tried adding babel-polyfill and then the `require("babel-polyfill");` at the top of index.js and all works fine and dandy. Want me to do a PR for it?

[2017-07-26 15:34] ecrmnn commented on #124
@lauhakari which version are you using?

[2017-07-26 22:10] lauhakari commented on #124
@ecrmnn 3.0.47 according to package.json, just upgraded today as I saw in the comments above it was fixed.

[2017-07-28 14:22] lauhakari commented on #124
Clarifying my comment. I upgraded to 3.0.47 but still had the error.
_Babel Polyfill_ did fix this error for me, with the `_Symbol_ is undefined`

[2017-07-31 23:13] lauhakari commented on #124
Any word?
The app we are usibg collect.js in isn't working in <IE11 because of the SYMBOL problem.

[2017-08-04 10:47] trocho opened #127 "Filter() does not work for an object"
It does not work and not return an error

Version: 3.0.47

[code]

[2017-08-08 16:53] Helfull commented on #127
can confirm

[code]

fails with `expected [] to deeply equal { foo: 'bar' }`

[2017-08-14 20:08] #127 closed

[2017-08-15 17:18] ecrmnn commented on #124
@lauhakari  @EmilMoe

Should be fixed in 3.0.49.

For future reference please create new issues instead of commenting on closed ones. I do not watch new comments in closed issues.

[2017-08-23 22:12] mikeerickson opened #129 "Adding dump command?"
In light of the pending Laravel 5.5 release, so you have any plans for add `dump` and/or `dd` commands?

[2017-08-24 17:15] melokki opened #130 "How to use without npm?"
Hello

Is it possible to use this package without npm?

I was expecting to see a `collect.js` or a `collect.min.js` in the `dist` folder.

[2017-08-31 03:40] martinandersen3d commented on #129
Suggestions:
Set a debug flag in Collect, so eatch step of the chain is dumped to console..?

Could also be in indexed order.

[2017-09-01 13:41] Helfull commented on #129
i will take over this

expect to see a pull request tomorrow

[2017-09-05 00:41] martinandersen3d opened #131 "except on arrays"
Problem:
except doesn't work on arrays, but intersect does? Is this inconsistent or correct behavior?

const testE = collect([1,2,3,4,5]).except([2,12]).all()
// result is an object: ​​​​​{ '0': 1, '1': 2, '2': 3, '3': 4, '4': 5 }​​​​​
// think i wanted array: [12]

const testI = collect([1, 2, 3, 4, 5]).intersect([1, 2, 3, 9]).all();
// result: [1,2,3]

except returns object, intersect returns ar

[2017-09-05 08:41] ecrmnn commented on #131
Thanks for reporting.

This is fixed in the latest release, ``3.0.50``

[2017-09-05 08:41] #131 closed

[2017-09-05 08:42] ecrmnn commented on #129
Thanks for reporting.

Added
- concat
- crossJoin
- dd
- dump
- intersectByKeys
- macro
- mapInto
- mapToGroups
- unless
- unwrap
- wrap

This is fixed in the latest release, ``3.0.50``

[2017-09-05 08:42] #129 closed

[2017-09-05 08:43] ecrmnn commented on #122
Added in ``3.0.50``

[2017-09-05 08:43] #122 closed

[2017-09-12 09:18] YaleZheng opened #132 "it is possible to get collection async?"
i want something like
[code]

it is possible to achieve with current version?

[2017-09-12 09:24] YaleZheng commented on #132
after reading source code.i think i found i could achieve my purpose by
[code]
but it look really ugly! is there any better way?

[2017-09-12 17:57] ecrmnn commented on #132
Do you have a real world example?
I don't see what you're trying to achieve.

[2017-09-13 01:56] YaleZheng commented on #132
i just want to do everything without leaving the chain,but i could not found some straight way to achieve
that.

[code]
in my opinion,the async way may be more clean,although the sync way work too

[2017-09-13 16:30] ecrmnn commented on #132
Have you looked at ``map()`` or ``transform()``?

[code]

I noticed that ``transform()`` doesn't return the modified collection in 3.0.50, but it's fixed in 3.0.51. So please upgrade or use ``map()``.

[2017-09-15 13:56] YaleZheng commented on #132
Thks for your help,I have soluted this problem~XD
By the way,I found an performance issues,I will post it later

[2017-09-15 16:14] #132 closed

[2017-09-17 10:30] ajaymathur commented on #130
HI, Can I take this up? How about using rollup for bundling?

[2017-10-19 11:02] Hesesses opened #134 "How to use this in Angular CLI"
How do I use this in a project created with Angular CLI?

[2017-10-19 11:08] Hesesses commented on #134
`import collect from 'collect.js';`

[2017-10-19 11:08] #134 closed

[2017-10-27 20:33] #130 closed

[2017-11-08 22:14] JCWolf opened #137 "FlatMap functionality is not as expected"
The `flatMap` method doesn't work as expected for a collection (an array of objects).
For example, if I have a list of employees and each employee has a list of customers and I want to get a list of all customer I would use flatMap as the below:
**Input:**
[code]
**Expected result:**
[code]
**Actual result:**
_Error: Cannot read property '0' of undefined(in the collect.js flatMap source code)_

La

[2017-11-08 23:00] JCWolf opened #138 ".all, toArray, toJSON not returning expected results"
If I use those three methods(.all, toArray, toJSON) on a collection with sub-collections I get the `items` property from children in the result.

It shouldn't recursively get the items for each collection?

_Why I have sub-collections? Because I want, at some point, to process only the data from children and I don't want to create temporary variables and instantiate a new collection()._

[2017-11-10 05:54] ecrmnn commented on #137
Hi @JCWolf

I actually discovered and fixed this here the other day, I just didn't have the time to merge and push it.

I'll push a new version some time today 👍

[2017-11-10 05:59] ecrmnn commented on #138
Yes you should.

Please submit a PR and I'll have a look :)

If you're not sure how to implement the code, submit only the tests that prove how it *should* work and we'll take it from there!

[2017-11-10 12:56] JCWolf commented on #137
Nice. Paste a link, please, for the merge here so I get notified.
Thanks!

[2017-11-10 14:09] #137 closed

[2017-11-13 17:42] CupOfTea696 opened #139 "Contains on collection of objects"
The contains function isn't working properly on collections of objects.

Example:
[code]

For people having the same issue, you can currently use the following as a workaround:
[code]

[2017-11-13 19:17] #139 closed

[2017-11-17 08:41] Helfull commented on #138
Since this package wants to stay close to laravel collection, i guess we should take a look there

[code]
Gives me this in laravel
![image](https://user-images.githubusercontent.com/720645/32937921-b3929694-cb7a-11e7-8cf3-df35b047ac92.png)

the same code with collect.js gives me
![image](https://user-images.githubusercontent.com/720645/32937992-f9b8af1e-cb7a-11e7-8952-d2a48c5068c7.png)

so yeah th

[2017-11-17 08:51] ecrmnn commented on #138
I'm aware of it.

I haven't had the time to fix it. A PR would be really appreciated, @Helfull

[2017-11-24 16:43] korneliuskristianr opened #141 "Please Add The Build File So dont have to need to install with npm"

[2017-11-26 23:09] ecrmnn commented on #141
You are welcome to submit a PR 🙂

[2017-12-06 15:07] fyllepo opened #142 "Documentation typo on partition"
No biggie, just here:
`const [underThree, underThree]`

[2017-12-12 18:48] martinandersen3d opened #144 "Only, Union on arrays.. is the result correct?"
Only:
collect([1, 2, 3, 4, 5]).only([2, 3,12]).all();

// => [ 2 ]

is this correct? or should it output [2,3]?
as i understand, only is the inverse of Expect.

-------------------------
union:
collect([1, 2, 3, 4, 5]).union([2, 3, 4,12]).all()
// =>[ 1, 2, 3, 4, 5 ]

union is supposed to merge them all together?
please see:
[http://www.essentialsql.com/wp-content/uploads/2014/10/UnionInsersectExc

[2017-12-12 21:16] #142 closed

[2017-12-12 21:18] ecrmnn commented on #138
This is fixed in the ``4.0.0`` release.

[2017-12-12 21:18] #138 closed

[2017-12-12 21:18] ecrmnn commented on #144
Hi @martinandersen3d

Thanks for reporting.

You're correct about the ``only`` method. This is fixed in the 4.0.0. release. Just published.

``union`` works this way in Laravel Collections, so it will stay like this 👍

[2017-12-12 21:18] #144 closed

[2017-12-18 19:06] #141 closed

[2018-01-23 08:14] jay7793 opened #147 "The only() method with array It does not work properly"
[code]

I'm trying to find a 'name' property from the collection. It does not work properly. It displays empty arrays [] I want to know my approach is correct or not.

Thank you.

[2018-01-23 09:49] ecrmnn commented on #147
Hi @jay7793

It is working correctly, but I think you're looking for the ``[pluck](https://github.com/ecrmnn/collect.js#pluck)`` method.

[code]

[2018-01-23 10:09] jay7793 commented on #147
Hi @ecrmnn

Thank you so much for the suggestions and examples. Again, can you show how only() method it works with an array of objects? I think the above code is correct. But why not work?

[2018-01-23 11:54] Helfull opened #148 "first() is not inline with the laravel version"
hey,

to stay inline with laravel\collection we should update the `first` method to match the laravel one

https://github.com/laravel/framework/blob/5.5/src/Illuminate/Support/Arr.php#L154-L181

basicly update the function to

`first(key|callback, default|callback)`

i try to make a PR

[2018-01-23 12:35] Helfull commented on #147
@jay7793 `only` does support hashmaps but not collections of objects.
this is the same behavior as in laravel 5.5 which uses the `array_intersect_key` method from php

https://github.com/ecrmnn/collect.js#only
https://laravel.com/docs/5.5/collections#method-only
http://php.net/manual/en/function.array-intersect-key.php

[2018-01-24 02:30] jay7793 commented on #147
@Helfull

Thank a lot for the suggestions.

[2018-01-24 05:56] ecrmnn commented on #147
Thanks for your reply @Helfull, that's correct.

@jay7793; This is actually something that has bothered me too, almost to the point of making a PR to change the Laravel implementation.

A way of removing or adding keys from a collection with an array of objects is with ``map`` and ``transform``, like this:

[code]

[2018-01-24 20:19] #147 closed

[2018-01-25 17:50] #148 closed

[2018-01-27 21:53] dducro opened #151 "Most methods only work if underlying data is an array"
Most methods (like "where") only work on array data.

Take this as an example:

[code]

`filtered` equals a collection with just the second object.
However the following throws an exception.

[code]

This is because by calling `keyBy()` the underlying array is converted to an object.

I understand this is done, however I also expect methods like `where()` are still usable.

Is it an option to conv

[2018-01-29 05:53] ecrmnn commented on #151
This should work. It is possible with Laravel collections. I think it’s as simple as looping through the objects properties where the value is an array of objects. I’ll have a closer look at what Laravel are doing.

[2018-01-29 11:30] dducro commented on #151
Thanks for your response!
That's true and also what's happening.
However, after calling `keyBy()` the `items` array isn't an array anymore, but it is changed to an object.
Therefor calling `where` will result in the following: `this.items.filter is not a function`

[2018-01-29 13:06] Helfull commented on #151
i can confirm the problem here.

in laravel we just need to handle arrays because all collections (hashmap or array) are just arrays and share the same method set.
While in JS we have Objects (hashmap) and Arrays (array,  not keyed) so for every method we need to implement 2 versions array and object iterators.

that was the reason why i started to implement some helper functions [Here](https://gi

[2018-01-31 17:50] #151 closed

[2018-02-03 12:29] douglaszaltron opened #153 "Sorting strings with accented characters"
Knows how to order an array with words with special characters like accents?

Javascript has a native method sort that allows sorting ( array.sort() ). Also you can provide your own custom sorting function. Are two ways to overcome this behavior localeCompare and Intl.Collator provided. in .sortBy() could have this option.

collect(array).sortBy('name');

returns 'Albacete' before 'Álava', and I w

[2018-02-06 07:12] ecrmnn commented on #153
Using ``macro()`` you can build this into ``collect.js``

[code]

[2018-02-06 13:32] Helfull opened #154 "count() does not work with hashmaps"
hey,

counting objects in a hashmap returns undefined

[code]

might just be a version problem here

[2018-02-06 15:16] ecrmnn commented on #154
That should have been fixed in 4.x. What version are you using?

[2018-02-07 08:00] Helfull commented on #154
did try it after i updated to the newest version and works, the error was infront of the PC :D

[2018-02-07 08:00] #154 closed

[2018-02-12 08:26] ecrmnn commented on #153
Closed due to inactivity. Comment or open a new issue if you need further assistance :)

[2018-02-12 08:26] #153 closed

[2018-02-14 16:30] douglaszaltron commented on #153
Tks! This works well ;)

[2018-03-05 03:42] mostafa6765 opened #156 "can't setup collect.js in vue js"
# NB: SOLVED

[code]

## output issue :

 Error in render: "TypeError: [1,2,3,4].count is not a function"

[2018-03-05 05:21] mostafa6765 opened #157 "where(' ' ,'like', ' ') like operator"
This is awesome collection as like laravel .
like operator is very important as query system.
`.where('name','like','s%')`
another is
`.orWhere()`
[code]
`andWhere()` array condition

[code]

without those can't feel happiness .please add those collections.  @ecrmnn ❤️

[2018-03-05 08:14] #156 closed

[2018-03-05 12:25] Helfull commented on #157
hey,

those methods are for the Eloquent Query builder not for collections in laravel. If i am not mistaken

[2018-03-05 19:17] mostafa6765 commented on #157
Right, I know. but if add those methods as collections that will be very helpful @Helfull

[2018-03-05 19:33] ecrmnn commented on #157
Hi, @mostafa6765.

Glad you like the library.

As @Helfull says; those methods are not in Laravel Collection, but in the Eloquent query builder.
You may add them to your own instance of Collect.js by using ``macro()``.

Thanks for the suggestions, but this won't be implemented.

[2018-03-05 19:33] #157 closed

[2018-03-09 04:25] dhsont opened #158 "how to use it in plain javascript ?"
Hi i want to use this library in plain javascript like we use Jquery.

this is very good library and i want to use this in my html file.
please guide how to use this.

[2018-03-09 08:10] ecrmnn commented on #158
Hi, @dhsont

You can download the [collect.js.min](https://raw.githubusercontent.com/ecrmnn/collect.js/master/build/collect.min.js)

And add it with a normal ``<script>`` tag.

[2018-03-09 12:40] sreejith2base opened #159 "ReferenceError: collect is not defined"
Hi

I am using Laravel 5.5;

I have installed using npm

`npm install --save collect.js`

and added the following on **bootstrap.js**

`window.collect = require('collect.js')`

and run
`npm run dev`

inside my blade blade file i have added

[code]

But I am getting an error

ReferenceError: collect is not defined

[2018-03-09 14:10] ecrmnn commented on #159
Could you try ``global.collect = require('collect.js')``

[2018-03-09 18:29] dhsont commented on #158
Thank you very much @ecrmnn ,

Lib is working like charm.

Library  is missing findByIndex method.

ex

[2018-03-09 19:11] dhsont opened #160 "How to access value by index ID in array ?"
*Library  is missing Value By Index Functionality

ex
[code]

it is not returning value .

it should return value **9**

[2018-03-09 19:18] ecrmnn commented on #158
Glad you like it. Cheers!

[2018-03-09 19:18] #158 closed

[2018-03-09 19:22] ecrmnn commented on #160
This could be better documented.

``myArray.get(index)``

[2018-03-12 05:23] sreejith2base commented on #159
Done, It is working now.
Thanks @ecrmnn

[2018-03-12 07:15] #159 closed

[2018-03-12 19:18] ecrmnn commented on #160
[This is documented in 4.0.12](https://github.com/ecrmnn/collect.js#get)

[2018-03-12 19:18] #160 closed

[2018-03-16 15:48] jbtbnl opened #161 "toArray - cannot reproduce the following Laravel Collection behavior"
[code]

I'd like to address two things with this example:
* The collect().toArray function does not support iteration over nested collections when the topmost collection is a key-value map (javascript object).
* We lose the keys when using collect().toArray as opposed to Laravel Collection. In case this is the expected behavior (after all Javascript != PHP), it would be helpful to specify this dev

[2018-03-22 19:27] ecrmnn commented on #161
Thanks for the heads up.

I'll have a look at the iteration in ``toArray()`` when I got the time. PRs are very welcome.

``toArray`` converts the collection to an ``array`` so in JavaScript this means that you'll lose the keys. That's simply how arrays work by design.

[2018-03-23 04:21] ajcarrillo opened #162 "Can be used in nested objects?"
It could be useful  to search in a `pivot` property when I return a many to many relationship.

[2018-03-23 23:20] ecrmnn commented on #162
I’m not following. Are you using collect.js with Adonis or some other Node.js framework?

If you want to extend collect.js outside the scope of this project I suggest you have a look at the macro() method.

[2018-03-24 05:32] ajcarrillo commented on #162
[code]
I'm trying something like this and not working.

`const filtered = collection.where('foo.bar', 1);`

I'm sorry for my bad english

[2018-03-26 11:44] ecrmnn commented on #162
Hi, @ajcarrillo

I like this functionality, but its not supported in Laravel Collections and therefore it's not been added in Collect.js either.

[code]

You may add it to your project by using the ``macro()`` method.

[2018-03-26 12:12] ecrmnn commented on #162
I was a little quick to respond. I see that this is possible in Laravel Collection. I'll have a look at it.

[2018-03-27 12:54] jbtbnl opened #165 "reduce - unexpected behavior for empty collection"
Laravel collection:
[code]

collect.js:
[code]

[2018-03-27 12:57] jbtbnl commented on #165
Should be easy to fix by assigning the carry as initial value to the result variable.

[2018-03-28 15:42] #162 closed

[2018-03-28 15:42] #165 closed

[2018-03-28 20:13] unlike777 opened #166 ""each doesn't work on literal {qwe: 123, foo: 456, poi: 789}"

[2018-03-28 20:13] unlike777 opened #167 ""each" doesn't work on literal {qwe: 123, foo: 456, poi: 789}"

[2018-03-28 20:13] #166 closed

[2018-03-28 20:29] #167 closed

[2018-03-29 09:43] ajcarrillo commented on #162
Thank you so much!!!

[2018-03-29 09:46] ecrmnn opened #168 "Documentation for using dot notation"
The following methods now accepts dot notated strings as a key. This should be documented.

- where
- whereIn
- whereNotIn

[2018-03-31 13:35] #168 closed

[2018-04-05 12:53] jbtbnl commented on #165
@ecrmnn while commit ab854b5 fixes this particular example it still doesn't work as expected. The initial carry value should be the default result. A second example is:

[code]

collect.js:
[code]

[2018-04-19 18:17] nateajohnson opened #170 "Mutating data?"
A lot of these methods seem to mutate the data behind the scenes. That's fine, but should be noted in the docs. When using frameworks like Vue and React, they typically don't react when the array is mutated. If a new array is created and returned instead, these frameworks work as expected. Being a Laravel developer, I'd love to use this library, but because of this, I have to stick with vanilla ja

[2018-04-20 19:51] ecrmnn commented on #170
PRs are much welcomed.
Documentation too if you want to add this 👍

Many places we need to modify the underlying array/object, because it's how Laravel collection deals with it as well.

[2018-04-21 07:11] mendrik opened #171 "GroupBy question"
Hi I have a type problem in this:
[code]
Somehow the map is defined as `map<T>(fn: <T>(...any) => T): Collection<T>;`
but I cannot compile the above code. I would expect groupBy to result in in a Collection<Collection<T>> or at least Collection<T[]>, but it doesn't.

So what I want is to group an array into an array of arrays and map over it afterwards.

[2018-04-24 10:18] jbtbnl opened #172 "NPM publish 4.0.16"
@ecrmnn thank you for merging my PR regarding the reduce method! May I ask you to publish version 4.0.16 to the NPM registry? I'd like to pull in the changes via NPM :-)

[2018-04-24 11:39] ecrmnn commented on #172
Woah, can't believe I forgot that. Published now 😅

[2018-04-24 11:39] #172 closed

[2018-05-08 22:25] martinandersen3d commented on #170
@nateajohnson I often use lodash deepClone before I use collection. Just to make shure no mutation is going to happend.

[2018-05-23 02:21] khiconit opened #173 "Pluck return null if value = 0"
I have an array like that :
`var object = [ { name: 'January', count: 0 },
  { name: 'February', count: 0 },
  { name: 'March', count: 1 },
  { name: 'April', count: 0 },
  { name: 'May', count: 2 },
  { name: 'June', count: 0 },
  { name: 'July', count: 0 },
  { name: 'August', count: 0 },
  { name: 'September', count: 0 },
  { name: 'October', count: 0 },
  { name: 'November', count: 0 },
  { na

[2018-05-24 05:08] #173 closed

[2018-05-24 05:13] ecrmnn commented on #173
Hi @khiconit.

Thanks for reporting this. This is a bug and should not happen.
I've fixed this and pushed a new version to npm 👍

[2018-05-30 19:31] ecrmnn commented on #170
Closing due to inactivity. PRs are much welcomed if you want to submit any improvements  🙂

[2018-05-30 19:31] #170 closed

[2018-05-31 00:21] patrickomeara opened #174 "rendering from map() of a grouped collection is crashing app"
This is a great package thanks for your work.

I have the following data structure

[code]

[code]

It only crashes when I render from map, logging works fine.

[2018-06-01 06:18] ecrmnn commented on #174
I'm not very familiar with React, but should it work to iterate on a Collection like that?

Could you try the following
[code]

[2018-06-04 06:18] patrickomeara commented on #174
That didn't work. It seems map will only work on arrays which makes sense, I thought grouping would've made the top level object into an array but after looking more closely at it, it's still an object.

Thanks for your reply. Again, a great package!

[2018-06-04 06:18] #174 closed

[2018-06-11 23:36] cringer opened #176 "contains() not identical to Laravel"
Not sure if this is by design or not but the contains method is not the same as Laravel.  In Laravel a result will return true if the key OR value contains the item.  The following returns true in Laravel (straight from the Laravel documentation) but false in Javascript:

Laravel
[code]

Javascript (I'm using Adonis.js if that matters)
[code]

[2018-06-13 08:02] #176 closed

[2018-06-13 08:20] ecrmnn commented on #176
Hey, @cringer!

Thank you for discovering this bug.
This is not intentional and should work as in Laravel.

I've pushed a hotfix `4.0.19` that will solve this issue.

[2018-06-17 19:13] JCWolf opened #177 "Get an item from an array or object using "dot" notation"
Some methods, like `pluck()` for example should accept dot notation keys.

This is the [Laravel equivalent](https://github.com/tightenco/collect/blob/master/src/Collect/Support/Arr.php#L384) for `pluck` and this is for [dot notation get](https://github.com/tightenco/collect/blob/master/src/Collect/Support/helpers.php#L47).

For example, having this collection:
[code]

After calling pluck: `let all

[2018-06-18 06:20] ecrmnn commented on #177
I'm not getting the same results. Could you provide your PHP example?

[code]

[2018-06-18 07:50] JCWolf commented on #177
`$users` should be a collection of users and not a single user, like so:
[code]

[2018-06-18 08:06] ecrmnn commented on #177
Yeah, I get the same as you now. I'll implement it asap, but in the meantime a PR is welcomed.

Do you know what other methods that allow dot notation?

[code]

[2018-06-18 19:11] JCWolf commented on #177
Yes, I know some methods like:
- [get('some.deep.key')](https://github.com/tightenco/collect/blob/master/src/Collect/Support/Arr.php#L278)
- [forget('some.deep.key')](https://github.com/tightenco/collect/blob/master/src/Collect/Support/Arr.php#L233)
- [has('some.deep.key')](https://github.com/tightenco/collect/blob/master/src/Collect/Support/Arr.php#L314)

I never tested these above methods. I was

[2018-06-18 20:34] JCWolf commented on #177
The `get`, `forget` and `has` methods operate for objects while `pluck` operates for arrays.

Try this:
[code]

To make it work with my original example you have to write it like so:
[code]

[2018-06-18 20:47] ecrmnn commented on #177
I'm getting this with `php artisan tinker` on a fresh `5.6` installation

[code]

[2018-06-18 21:09] JCWolf commented on #177
Check and [run this](https://3v4l.org/0sJAH), please. I copied the entire `Arr` class and it works as expected(the example is at the bottom).

[2018-06-18 21:12] JCWolf commented on #177
I checked the [Collection](https://github.com/tightenco/collect/blob/master/src/Collect/Support/Collection.php#L716)  code and you are right. They are not using the `Arr::get` method inside the `Collection::get`. They only one that works is `pluck` but would be nice to have the others too.

[2018-06-24 05:26] drnkwati opened #179 "Can it work in ie9"
Which browsers have been tested successfully
We need to know browser support

[2018-06-28 20:01] ecrmnn commented on #177
Update; I’m working on getting this implemented. My time is limited these days so I can’t say exactly when I’m done

[2018-06-28 20:02] ecrmnn commented on #179
Any updates on this?

[2018-07-04 06:28] ecrmnn commented on #179
Closing due to inactivity. Please open a new issue if this is still relevant.

[2018-07-04 06:28] #179 closed

[2018-07-16 01:31] fsavalam commented on #156
please share your solution

[2018-07-16 07:42] mostafa6765 commented on #156
@fsavalam
# vue
[code]
you can follow `solved` pettern that is correct. https://github.com/ecrmnn/collect.js/issues/156#issue-302162529

[2018-07-17 10:17] ennetech opened #182 "TSLint type errors"
Hello, when using this library with a fresh generated vue-cli3 project with typescript i get this 'errors' in console:

[code]

i have the following configuration in my tslint.json:
`
"linterOptions": {
    "exclude": [
      "node_modules/**",
      "src/lib/**"
    ]
  },
`

Anyone experiencing similar issues? Thanks!

[2018-07-17 12:48] ecrmnn commented on #182
Personally I don’t use Typescript nor TSLint, so I’ve never encountered this error.

If there is anway to disable linting modules/packages I’d recommend that.

If you have a fix to the problem and the Typescript definition, please make a PR. 🙂

[2018-07-30 23:42] ecrmnn commented on #182
Your PR was merged. Thanks for contributing. 👍

[2018-07-30 23:42] #182 closed

[2018-07-31 06:54] ankit20893 opened #184 "Issue in typescript"
Collect.js is having various warning errors in typescript.

[2018-07-31 07:12] ecrmnn commented on #184
Merged a PR that updated the Typescript definitions just a few hours ago. Could you try version 4.0.22 and see if you get the same errors? If not; I’ll change the definitions back.

[2018-07-31 08:54] victormongi opened #185 "Method Chaining"
Hello, this is a great tool anyway,
but I had an issue, I can't use method chaining
this is my working example:
[code]
And below is the not working one:

[code]
So when I want to use flatten I just can't do that if I don't wrap the object/array in collect instance...
Thank you for your help...

[2018-08-06 11:28] ecrmnn commented on #185
Hi, @victormongi

Could you provide the data that you're using in this example?

[2018-08-08 06:29] #184 closed

[2018-08-16 10:58] ecrmnn commented on #185
Bump

[2018-08-16 10:59] #161 closed

[2018-08-22 09:24] rohitkhatri opened #187 "import { collect } from 'collect.js' is undefined in typescript"
Importing in `typescript` is not working.

[code]

How can I use it in typescript?

[2018-08-22 10:37] ecrmnn commented on #187
Hi @rohitkhatri

This shouldn't be an issue. 🤔

Have you tried without destructuring?
It's probably not the issue, but worth trying.

[2018-08-22 10:56] rohitkhatri commented on #187
I tried using this with this syntex

[code]

And It worked.

[2018-08-22 10:56] #187 closed

[2018-08-26 15:27] JCWolf opened #188 "Fix typescript typing for the `first` method by adding the default value parameter"
The `first` method has incomplete definition inside `index.d.ts`. This is the [current implementation](https://github.com/ecrmnn/collect.js/blob/master/index.d.ts#L111).

It needs the default value parameter:

[code]

Also, wouldn't it be better if this library switches to full typescript? Nowadays applications written in JavaScript are very very big and need to be written in typescript in order t

[2018-08-28 10:02] ecrmnn commented on #188
You're welcome to submit a PR for the TypeScript definition.

Are you seriously suggesting that I rewrite my library to fit *your* needs?
If you don't appreciate this library you can make your own implementation.
Please respect the time and effort that I and other open source maintainers spend on doing this.

[2018-08-28 10:02] #188 closed

[2018-08-28 14:32] JCWolf commented on #188
@ecrmnn . I'm sorry. I didn't say I don't appreciate the library, I really appreciate it. It was just a suggestion. Also, moving to Typescript means zero rewriting(only file renaming). I suggested this just to make the library safer.
I will submit a PR soon that will fix this issue.

[2018-08-30 08:26] PotsonHumer opened #190 "toJson always return array type json ?"
Hi, I may have found some bug with toJson method

when I use
`let collectData = collect({ string: 'abc' })`
`console.log(collectData.toJson())`

it return
`["abc"]`

Is there any problem with my code?

----------

Thank you make this tool, It's really help my work!

[2018-09-05 06:53] endrureza opened #191 "'Where Like "%val%""
Is it possible to do

`'Where Like "%val%"'` ?

so far i'm using this, i just use where only.

[2018-09-09 11:33] alfredocodekit commented on #125
`<li class="b-task" v-for="task in sortedTasks" @click="completeTask(task)">`
`          computed: {
            sortedTasks: function() {
              return collect(this.tasks).sortBy('title').toArray()
            }
          },`

[2018-09-11 06:01] ecrmnn commented on #191
Unfortunately this is only supported for Eloquent (Laravel ORM), not Collections

[2018-09-11 06:01] #191 closed

[2018-09-11 06:01] ecrmnn commented on #185
Closing due to inactivity

[2018-09-11 06:01] #185 closed

[2018-09-11 06:38] #190 closed

[2018-09-11 06:38] ecrmnn commented on #190
Thanks for making an issue. This should be fixed now.

[2018-09-24 16:37] tricki opened #193 "Wrong type definition for `map`?"
When I try to use the `map` method I get an error from the TypeScript compiler:

[code]

I got rid of the error by changing

[code]

to

[code]

I'm relatively new to TypeScript so it might be my mistake but I don't see what that Generic is supposed do.

Can anyone confirm this is a bug? If so I'll send a pull request.

[2018-09-25 06:41] ecrmnn commented on #193
I don't personally use TypeScript. What would be the correct solution here?

[2018-10-07 08:47] JCWolf opened #195 "Incorrect behavior for `flatMap`"
`flatMap` does not output the same result as 'Laravel Collections'.
Actual:
[code]

Expected:
[code]

As I see in Laravel Collections, this is done like so:
[code]

I tried changing the flatMap method to this (but the tests are failing):
[code]

[2018-10-07 09:00] JCWolf opened #196 "Unnecessary `node_modules/.bin` inside package.json"
I am not sure if someone else encountered this problem, but I am getting this error when I'm running npm commands on a Windows machine: `'node_modules' is not recognized as an internal or external command,`

There is no need to use `node_modules/.bin` inside `scripts`. NPM will know were to get the libraries from if you just write the name of the command. Also, it will make the package.json cleane

[2018-10-08 00:19] ecrmnn commented on #193
I’m on vacation and will have a look at this as soon as I get back home.

[2018-10-08 00:19] ecrmnn commented on #195
I’m on vacation and will have a look at this as soon as I get back home.

[2018-10-27 11:18] JCWolf commented on #193
up

[2018-12-06 13:47] #195 closed

[2018-12-22 06:06] xiaobing1024 opened #202 "I think it is better to return a collect when random takes a value, laravel is not a direct return value."
I think it is better to return a collect when random takes a value, laravel is not a direct return value. Uniform data format returned in this way

[2018-12-28 08:32] ecrmnn commented on #202
Hi @xiaobing1024

I'm not sure I follow. `random` in Collect.js works exactly the same way as in Laravel Collection.

**Retrieving a single radom value**
[code]
[code]

**Retrieving mutiple random values**
[code]
[code]

[2018-12-28 08:37] xiaobing1024 commented on #202
Sorry, I got it wrong.

[code]

[code]

[code]

[code]

[2018-12-29 10:14] ecrmnn commented on #202
I see! That shouldn't happen.
Fixed in b5b64f5.
Thanks for creating this issue.

[2018-12-29 10:14] #202 closed

[2019-01-09 06:26] mostafa6765 opened #203 "search inside objects array with where ! return empty"
[code]
~ return empty
~
* how to solve this type problem

[2019-01-10 07:40] ecrmnn commented on #203
Hi @mostafa6765.

The issue here is that the property `phone` is an `array` containing an `object`.
I would make `phone` an `object`.

You would then be able to do the following:
[code]

If you for some reason need have `phone` as an `array`, you can do this instead:
[code]

[2019-01-10 11:36] mostafa6765 commented on #203
Thanks @ecrmnn

[2019-01-10 11:36] #203 closed

[2019-01-11 14:46] gokigoks opened #204 "Problem assigning value with concat()"
arr1 = collect([1,2,3]);
    arr2 = arr1.isEmpty() ? [] : arr1.concat([4,5]);

now my intention was to assign a concatenated value to arr2, but arr1 also becomes [1,2,3,4,5]
Is this the intended behavior? how do I assign a concatenated value to another variable without altering the used collection?

version used is 4.3.0

[2019-01-13 20:11] #204 closed

[2019-01-13 20:13] ecrmnn commented on #204
Thanks for reporting this. 🙌
This was a bug, and I've pushed a new release (4.4.0).

Concat should return a new collection but was modifying the existing one.
This should be fixed now.

[2019-01-18 12:57] mario-jerkovic commented on #184
There is also an error in TS (version 3.1.6) with `collect([1, 2, 3, 4]).except([2, 12]).all();` as `except` returns `Object`.

[2019-01-29 11:42] sorenbronsted opened #205 "Returning false in each function does not stop iterating"
Each function is not stopping when returning false. Then example correctly return 7, but all elements are processed. If you add console.log(item) inside the function, it vil print 1,3,3,7 and not 1,3,3 as I would have expected.

[2019-01-30 11:34] #205 closed

[2019-01-30 11:37] ecrmnn commented on #205
Hi @sorenbronsted

Thanks for reporting this.
This is solved in `4.6.1`.

[2019-02-12 13:44] sorenbronsted opened #206 "search fails"
[code]
return correctly false, but:

`console.log(collection.search((item, key) => item === 5));`

fails with: TypeError: Cannot read property 'toString' of undefined

[2019-02-13 11:21] ecrmnn commented on #206
Thanks for reporting.

Fixed in 9af320d41b75c836e9c9d23cc8850e41b19c85d0

[2019-02-13 11:21] #206 closed

[2019-03-02 21:10] janbodnar opened #208 "Documentation mistake for the keys() function"
There is a small mistake in the documentation of the `keys()` function.

[code]
The output is: `[ 0, 1 ]`.

[2019-03-06 07:44] ecrmnn commented on #208
Hi @janbodnar

Thanks for reporting.
This example should use an object instead of an array of objects. That would explain the method better. I'll update it when I got the time.
Feel free to submit a PR.

[2019-03-11 12:41] #196 closed

[2019-03-11 12:44] #208 closed

[2019-03-30 13:08] ecrmnn opened #209 "Unable to use nested values as key in groupBy and keyBy"

[2019-03-30 13:09] #209 closed

[2019-04-29 20:24] ecrmnn opened #210 "Collection based on an empty string should not be empty"
When creating a collection with ``collect('')`` it should not be recognized as empty.

Currently ``collect('').isEmpty(); //=> true``
Should be changed to ``collect('').isEmpty(); //=> false``

[2019-04-29 20:26] #210 closed

[2019-05-04 13:22] jdarling opened #212 "How to combine two collections of same named objects into a new object?"
This probably won't make sense, but I have a collection of objects similar to:

[code]

To get things like Unique Clicks by email I do:

[code]

Total link clicks:

[code]

But how would I get back a collection that had the total links and the unique clicks?

[code]

Also, and this is probably a feature request, let me know and I'll file it as such, is there a way to group with sub grouping in a s

[2019-05-06 06:32] ecrmnn commented on #212
Both `groupBy()` and `countBy()` returns a new collection.
You could `merge()` them like this perhaps `unique.merge(total)`

[2019-05-06 13:37] jdarling commented on #212
Guess I should have mentioned I tried that, actually got a very unexpected result:

[code]

[2019-05-07 06:34] ecrmnn commented on #212
Try this

[code]

[2019-05-07 18:35] jdarling commented on #212
That works, I was blinded by the obvious route and totally didn't pay attention to alternative approaches.  Thanks.

[2019-05-08 11:02] #212 closed

[2019-05-08 19:19] jdarling opened #213 "Typo"
I believe I've found a typo in the docs that probably no one but me will have noticed.

[code]

The typo is `const sequence = chunks.mapSpread((odd, even) => {` should be `const sequence = chunks.mapSpread((even, odd) => {`  See the first iteration 0 is passed as the first argument (although mathematically zero is neither odd nor even) and 1 is passed as the second argument.  Every iteration after

[2019-05-10 06:47] ecrmnn commented on #213
I've got the parameter names mixed up in the example.
It should have been `.mapSpread((even, odd)) =>`
[Laravel Docs](https://laravel.com/docs/master/collections#method-mapspread)

[code]

[2019-05-23 06:31] #213 closed

[2019-07-02 08:47] Vinze opened #215 "Collect and sum object properties"
I don't know if it's a bug or if I'm doing something wrong, but see the following example:

[code]

In Laravel collections this does work, isn't this possible with collect.js?

[2019-07-02 08:48] Vinze commented on #215
Note, for now I'm using the following as a workaround:

[code]

[2019-07-02 12:01] #215 closed

[2019-07-02 12:22] ecrmnn commented on #215
Hi @Vinze
Thanks for creating this issue. This was a bug and should now be fixed.
You can update to 4.12.6 and do the following:
[code]

[2019-07-02 12:42] Vinze commented on #215
Will do, thanks for fixing this to quick!

[2019-07-06 14:19] rafaelgfirmino opened #216 "TypeError: values.map is not a function"
When I try to run the flatmap example I have an error occurring.
[code]
Initially this problem occurred in typescript, so I tried to simulate in vue without the typescript, but I have the same problem.

[code]
https://codesandbox.io/s/vue-template-njvme?fontsize=14

[2019-07-06 18:05] ecrmnn commented on #216
Hi @rafaelgfirmino

I've tested this.
Theres is an error in the documentation, so the example isn't working.
However, the `flatMap` method is working correctly

[2019-07-08 10:18] rafaelgfirmino commented on #216
Thanks for the answer.

[2019-07-08 10:18] #216 closed

[2019-07-22 14:52] philippkuehn opened #217 "Non-recursive values()"
In v4.13.0 the behavior of `values()` changed as intended. However, I think there is a use case for the old behavior. When working with a store like vuex, it's a good practice to store items by a key like this to easily pick an item by its id:

[code]

With `collect(data).values().toArray()` I had easy access to an untouched array of my data. The `values()` function of lodash does the same.

[code

[2019-07-22 17:43] ecrmnn commented on #217
Hi @philippkuehn

Thanks for your feedback.
I was already thinking about changing this, and I've decided to revert this change.
`values()` will no longer be recursive as of `4.15.0`

The change was made so that other use cases would closer resemble how Laravel and PHP does this. Due to associative arrays in PHP its not always easy to choose the right approach for JS.

Anyway, I feel like this is t

[2019-07-22 17:43] #217 closed

[2019-07-22 21:48] philippkuehn commented on #217
Thanks!

[2019-07-25 13:00] philippkuehn opened #218 "weird sort behavior for null values"
As expected:

[code]

I think this should be the same order as above but null is at the beginning.

[code]

When using a date string I can't follow anymore 😅

[code]

I think there is something broken with `null` values here.

[2019-07-26 07:54] ecrmnn commented on #218
This is because `sortBy()` didn't treat null values correctly.
I've implemented this now and `sort()` and `sortBy()` should return the same results.

These new tests proves the new behaviour
[code]

[code]

[2019-07-26 07:54] ecrmnn commented on #218
Fixed in https://github.com/ecrmnn/collect.js/commit/fabadf81cdad12a70fa073ff6239e2f08d5cdd33

[2019-07-26 07:54] #218 closed

[2019-07-26 08:06] philippkuehn commented on #218
Awesome, thank you!

[2019-08-05 09:42] philippkuehn opened #219 "Add support for dot notation in sortBy method"
It would be nice to sort by nested values.

[code]

[2019-08-05 10:11] philippkuehn opened #220 "sortBy not working correctly for null values and callback function"
The fix for #218 doesn't fixed sortBy with a callback function (sorry 😅)

working:
[code]

broken:
[code]

[2019-08-05 10:22] ecrmnn commented on #220
Ah, guess I forgot tests for providing a callback function. Thanks for the issue. I'm currently on vacation but I'll have a look at it later this week. PRs are welcome too if you'd like to contribute.

[2019-08-07 08:27] #220 closed

[2019-08-13 12:46] #219 closed

[2019-09-22 16:05] s-patompong opened #227 "Can't create a collection in Angular 8"
Hi,

I've been trying to use collect.js in Angular but I keep getting an error says 'collect_js_1.collect is not a function' when I try to create a collection using `collect()` method.

I pulled down collect.js version 4.16.6. I also created an example code on stackblitz showing an error on the console when the code tries to create a new collection in ngOnInit() method.

Here is the link to stackb

[2019-09-22 16:09] ecrmnn commented on #227
Try this
[code]

[2019-09-22 16:12] s-patompong commented on #227
Thank you for fast response, tried it and can confirm that it works!

Just want to point this out for other Angular fellows. If you want to import both `collect` and `Collection`, you need to do it like this to make it work:

[code]

I'll close the issue now.

[2019-09-22 16:12] #227 closed

[2019-09-23 03:37] ecrmnn commented on #227
Great! Personally I don't use TS a lot, but I enjoyed the syntax more in the non-working example. If you want to submit a PR to add exporting `collect`, I'm open to it. If you do please add tests that proves they're all the same instance of `Collection`

[2019-09-23 04:40] s-patompong commented on #227
That sounds good, I'll try to work on it :)

[2019-09-24 03:46] s-patompong commented on #227
@ecrmnn I've looked into it. The only way to make TS import it as a non-working example I've shown you before is to wrap the collect inside a bracket like so
[code]
Doing this will make it possible for TS file to import the collect in like `import { collect } from 'collect.js'`. However, it breaks the collect import in JS file, it will only work if API consumer import it like so
[code]

I don't th

[2019-09-24 05:38] ecrmnn commented on #227
I see. I'm currently on vacation so I try it out, but I thought adding a new export would solve it.
[code]

[2019-09-24 06:35] s-patompong commented on #227
Have fun on your vacation! don't worry I'll try it out for you.

[2019-10-08 11:27] ecrmnn opened #232 "Test issue"

[2019-10-08 11:28] ecrmnn commented on #232
Works 🙌

[2019-10-08 11:28] #232 closed

[2019-10-24 04:18] iiDestiny commented on #138
@ennetech Why does the result returned by `groupBy` have a items child element?

[2019-10-24 04:20] iiDestiny opened #233 "Question about groupBy"
Why does the result returned by `groupBy` have a items child element?

![image](https://user-images.githubusercontent.com/17637481/67453198-82970100-f658-11e9-87f9-ae55de5a1429.png)
![image](https://user-images.githubusercontent.com/17637481/67453212-917db380-f658-11e9-969f-54fb07e663cc.png)

[2019-10-24 06:22] ecrmnn commented on #233
`groupBy()`groups items into an array of objects.
Have a look at the differences between `groupBy()` and `keyBy()`

https://collect.js.org/api/groupby.html
https://collect.js.org/api/keyby.html

[2019-10-24 07:05] ecrmnn commented on #233
Hmm.
Can you provide the data you're working with?
It's original state, and what you would like to transform it too?

[2019-10-24 07:11] iiDestiny commented on #233
For example, I used to get data like this.

[code]

After collect.js conversion

[code]

Maybe I didn't understand the design idea, but I feel that "items" is not very convenient when I use it.
Sorry to bother you.

[2019-10-24 08:18] ecrmnn commented on #233
No worries at all.
A `Collection` always have `items`, thats how everything is implemented.
When calling `all()` you should get a plain `array` or `object` back.

[code]

If you provide the actual data you're working with I can try to help you.

[2019-10-24 08:29] iiDestiny commented on #233
raw data

[code]
Then I want to group by id

[code]

Then I get

![image](https://user-images.githubusercontent.com/17637481/67467379-38734700-f67b-11e9-8e31-20dd129b7293.png)

I don't want to get `items` but I have executed the `all()` method

[2019-10-24 08:29] iiDestiny commented on #233
raw data

[code]
Then I want to group by id

[code]

Then I get

![image](https://user-images.githubusercontent.com/17637481/67467379-38734700-f67b-11e9-8e31-20dd129b7293.png)

I don't want to get `items` but I have executed the `all()` method

[2019-10-24 08:53] ecrmnn commented on #233
Could you please provide raw data, not images before and after `_.groupBy(area_services, 'id')` ?

[2019-10-24 09:23] iiDestiny commented on #233
I looked at the source code and found that the child elements grouped by `groupBy` are also Collection objects.

[code]
result

[code]

[2019-10-24 09:33] iiDestiny commented on #233
I need this to achieve the desired result.

[code]

![image](https://user-images.githubusercontent.com/17637481/67472872-57c2a200-f684-11e9-9e08-0588ceef65ba.png)

[2019-10-24 10:22] ecrmnn opened #234 "Update documentation for `groupBy`"
`groupBy()` returns a `Collection` of `Collections`.
The current docs gives the impression that `groupBy()` returns an object with arrray groups

[2019-10-24 12:06] iiDestiny commented on #233
thank you very much！

[2019-10-24 12:06] #233 closed

[2019-11-15 17:31] Gi972 commented on #131
Hello,

Except return always a object, do you fix it?

[2019-11-15 18:24] Yahav opened #236 "Missing functionality: toObject"
Javascript arrays can't contain custom keys, for that we have objects.
Now imagine you have a collection of an object with string keys and object values.
If you'll use toArray the string keys will be lost.
Am i missing something or there isn't method to get an actual object of the collection?
(i understand that this is a js port of laravel collection, but laravel collection doesn't require this fu

[2019-11-16 07:46] Yahav opened #237 "isEmpty() - doesn't work"
isEmpty method doesn't work at all:
https://jsfiddle.net/4xyec0vd/

[2019-11-17 14:47] #237 closed

[2019-11-17 14:47] ecrmnn commented on #237
Thanks for creating this issue. This is fixed in `4.18.3`.

[2019-11-17 14:50] ecrmnn commented on #236
Have to had a look at the [`all()`](https://collect.js.org/api/all.html) method?

[2019-11-17 15:04] #234 closed

[2019-11-17 16:12] Yahav commented on #236
That worked

[2019-11-17 16:12] #236 closed

[2019-11-26 09:07] Gi972 opened #238 "Except return a object"
Hello,

Except return always a object, even with method all()?
In the doc you say it will return a array.
it's normal?

Thx for your work, it's very useful

[2019-11-26 10:28] ecrmnn commented on #238
Could you provide an example?

[2019-12-02 13:58] ecrmnn commented on #238
Closing due to inactivity

[2019-12-02 13:58] #238 closed

[2019-12-04 10:40] marcus-at-localhost opened #239 "Dot Notation for `put()`, `has()`, `get()` possible?"
I kind of missing the overall use of dot notation in some key methods. It's quite awkward to do `collect({}).put('foo', { bar: { a: true }});` instead of just `collect({}).put('foo.bar.a', true);` or `collect({foo: { bar: { a: true }}}).get('foo.bar.a')`. Or do I miss something?

[2019-12-06 16:03] ecrmnn commented on #239
Collect.js offers an identical api to Laravel collections. Laravel does not offer dot notation in these methods.

If you would like to add this functionality you can do so for your own projects using the [`macro`](https://collect.js.org/api/macro.html) method

### Laravel collection
[code]

I've even submitted a [PR](https://github.com/laravel/framework/pull/29458) for this.
[code]

[code]

[2019-12-06 16:03] #239 closed

[2019-12-07 10:39] marcus-at-localhost commented on #239
@ecrmnn my apologies. I was sure dot notation was possible, but I guess I was just getting around that, using laravel array helpers. Thanks for pointing out, using macros!

[2019-12-23 19:05] marcus-at-localhost opened #240 "Unexpected behavior on objects with `only().flatten()`"
Test:

[code]

Result:

[code]

Expectation:

[code]

Or am I getting something wrong here?

Thanks for looking into this.

[2019-12-24 10:56] #240 closed

[2019-12-24 10:58] ecrmnn commented on #240
Thanks a lot for reporting this @marcus-at-localhost

There was an issue with the `flatten` method. It's fixed in `4.19.0`

[2019-12-27 11:36] Albvadi opened #241 "Sort by multiple properties"
Hi,
there are any method to sort by more than one property?

![image](https://user-images.githubusercontent.com/6285255/71515655-b256c500-28a4-11ea-8868-f411750d2692.png)

In this example, score is the same and I want sort first by score, second by order...
Chaining two `sorByDesc` wont work...

[code]

How can i do that?
Thanks!

[2019-12-29 09:54] ecrmnn commented on #241
Unfortunately the library dont offer a method to sort by multiple values, but you can pass a custom sort function to `sort()`
https://collect.js.org/api/sort.html

[2019-12-29 09:54] #241 closed

[2019-12-29 16:12] Albvadi opened #242 "Search always return false"
Hi,
I have problems searching elements.

[code]

I´m a bit newbie.. Sorry if it´s a stupid issue... :disappointed_relieved:

[2020-01-02 08:52] ecrmnn commented on #242
I'll have a look.

I would recommend to use `where`
[code]

[2020-01-08 21:34] #242 closed

[2020-02-01 10:20] marcus-at-localhost opened #243 "Difference between Firefox and Chrome, when trying to .sortBy('nonExistingKey')"
I'm not sure what the correct fallback is, but if I try to sort an array of objects by an undefined key, this happens:

[code]
Using `"collect.js": "^4.20.2",`

Firefox Developer Ed. 73

![image](https://user-images.githubusercontent.com/1337223/73590330-89e46b00-44e1-11ea-888d-296ee22af9a4.png)

Chrome 79

![image](https://user-images.githubusercontent.com/1337223/73590358-d6c84180-44e1-11ea-98ca

[2020-02-04 13:57] ecrmnn commented on #243
I think this has something to do with how browsers implements `sort`

Could you try the same with the build from this feature branch?
https://github.com/ecrmnn/collect.js/commit/d34f93a3433d6b6fa0df6a7b58ebf30a0c06d760

[2020-02-05 07:52] marcus-at-localhost commented on #243
Unfortunately this had no effect (if I did everything right) https://jsfiddle.net/op8xr4hg/

[2020-02-13 14:45] marcus-at-localhost commented on #243
Ok, I tried to debug this like a caveman (without building it myself) and here is what I came up with:
`a` and `b` in `collection.sort(function (a, b) {...}` is flipped in Firefox.

Chrome:

![image](https://user-images.githubusercontent.com/1337223/74443024-c9f90580-4e72-11ea-8c79-4a097411bd33.png)

Firefox

![image](https://user-images.githubusercontent.com/1337223/74443131-fa40a400-4e72-11ea-91

[2020-02-13 18:12] ecrmnn commented on #243
How can we write a test to prove this? 🤔

[2020-02-17 10:00] marcus-at-localhost commented on #243
I'm out of ideas regarding writing tests. All articles I found[1] are talking about "Browsers different sorting algorithms", but I'm not that deep into JS to draw any conclusions from this, I'm sorry. :) - I hope someone with more insight will find this.
[1] https://alistapart.com/article/what-i-talk-about-when-i-talk-about-sorting/

[2020-04-04 10:36] Garanaw opened #244 "Impossible to extend"
I personally am a fan of newing objects myself rather than using helpers "de facto", because it allows some flexibility, like for example extending the classes (the Collection in this casae).

However, currently it is not possible as the only exported function is the helper.

Would it be possible to add the Collection class to the exported list? Something like

[code]

This way, it would allow use

[2020-04-06 08:04] ecrmnn commented on #244
Hi, @Garanaw

Have you tried extending with the [`macro()`](https://collect.js.org/api/macro.html) method?

[2020-04-06 10:54] Garanaw commented on #244
Hi @ecrmnn

Thanks for the suggestion, it's definitely something I didn't think about, and that might solve the part of extending the collections.

However, that approach would still leave a couple of holes:

- Validation: we're not able to do `something instanceof Collection`.
- Extension: When using in combination with [this package](https://github.com/milroyfraser/sarala) you cannot override th

[2020-04-08 09:58] boris-glumpler commented on #244
I'd also like for `Collection` to be exported. I'm currently working on a project that uses collect.js and would like to check in my tests that some properties are indeed an instance of `Collection`. My tests obviously won't fail without these checks, but that little OCD voice in my head is certainly complaining ;)

[2020-04-08 12:24] LiXunGuan opened #245 "The sum method encountered problems when calculating floating point numbers"
[code]
Suggestion reference https://github.com/nefe/number-precision

[2020-04-12 13:22] matrunchyk opened #246 ".every is not consistent with Array.every"
Hello! Thank you for your amazing work you do here!!!

Not sure if it's a feature or bug, but I noticed that `collect().every` and `Array.every` have different behavior.

The thing is that `Array.every` stops checking once the callback's value is false, when `collect().every` continues checking all the elements. What is the idea behind checking the rest of elements since it knows that the result i

[2020-04-14 10:46] ecrmnn commented on #246
Hi, @matrunchyk
Thanks for your kind words.

This is probably a bug and `every()` should be refactored to use early return if the tests would pass.
I don't have the time to fix this right now but PRs welcome 👍

[2020-04-14 10:51] ecrmnn commented on #245
Thanks for reporting 🙌

I believe this is an issue with JavaScript itself and not Collect.js.
I have to think about what I want to do about his.

[2020-04-14 10:54] ecrmnn commented on #244
I'm open to merging a PR with this. Make sure to include tests and documentation 👍

[2020-04-14 10:56] ecrmnn commented on #243
@marcus-at-localhost  I'm going to investigate further on this in the future, but I'm closing this for now. It bugs me to have this issue open :)

[2020-04-14 10:56] #243 closed

[2020-04-15 11:09] #246 closed

[2020-04-15 11:10] ecrmnn commented on #246
https://github.com/ecrmnn/collect.js/commit/c25bd819f69fe576d6e7af94449c4e274d7d821d

[2020-04-15 11:26] matrunchyk commented on #246
Wow it was faster that I have even started creating the PR! Thanks!!!

[2020-04-16 08:09] #244 closed

[2020-04-17 12:35] #245 closed

[2020-04-17 12:35] ecrmnn commented on #245
Fixed in `4.23.0`

[2020-04-21 09:51] patrickomeara commented on #245
This fix is throwing errors for decimals in strings.

[code]

This previously worked.

[2020-04-21 15:25] dtvmedia commented on #242
Why is this closed? I just stumbled upon a similar scenario and had the same results. The key is expected to be returned here. Your suggestion of using `where` will return the corresponding item instead.

[2020-04-22 07:47] ecrmnn commented on #245
Thanks for reporting! Fixed in https://github.com/ecrmnn/collect.js/commit/b54f4b66afd3762cdcf0dbb1fc673dfe8359f556 and added [test](https://github.com/ecrmnn/collect.js/blob/master/test/methods/sum_test.js#L63)

[2020-04-22 09:14] ecrmnn commented on #242
You are right @dtvmedia.

Fixed in `4.25.0`
https://github.com/ecrmnn/collect.js/commit/faaa1983699a6ca9db62e6bfc2f74da0b1726ac8)

[2020-05-27 18:41] marcus-at-localhost opened #248 "Reduce *.min.js size?"
Hi, I wonder if it's possible to reduce the size of the minified version.
As far as I understand (or what I read, I've never used webpack) those eval statements are in there to reduce build time and bundling source maps or something, but is this necessary for the final build? Am I doing it wrong? (most of the time I'm pulling collect.js in from jsdelivr....) Or does it not matter? Thanks!

[2020-05-27 18:52] ecrmnn commented on #248
Tbh I'm not sure. I'm not a webpack wizard I just wanted to offer a minified version. But I'm definitely open to reducing the minified version. A PR is very welcomed if you find a way to reduce the bundle size

[2020-05-27 20:12] marcus-at-localhost commented on #248
I just parroted what I found on SO https://stackoverflow.com/a/39164038/814031 :)
I've never used Webpack, but I've seen those eval() statements a few times in other libraries and was wondering if that is really necessary for production code.
Maybe this helps: https://webpack.js.org/configuration/devtool/

[2020-05-28 01:08] myleftshoe opened #249 "pluck() with wildcard errors when value is null"
[code]

Running this code results in
[code]
It works without a wildcard:

[code]
returns `[ null `] as expected

It works with undefined (with wildcard)

[code]
returns:
[code]
but without wildcard undefined is returned as null, i.e.

[code]
returns

[code]

[2020-05-28 07:31] #249 closed

[2020-05-28 07:48] myleftshoe commented on #249
@ecrmnn, interested in why you closed this, is it a duplicate, or not a bug? I'm using pluck to get properties from a large json file, atm i manually replacing all null property values to get it to work.

[2020-05-28 07:53] myleftshoe commented on #249
@ecrmnn. My bad, that was a fast fix!

[2020-06-04 13:23] tugzera opened #250 "How can i set the return of a collect to a typescript interface?"
[SOLVED]

I have this interface:

interface UF {
  id: number;
  initials: string;
  name: string;
}

This state:
const [uf, setUf] = useState<UF[]>([]);

I want to sort my array of UF's by name using collect and set the value to my State:

// const sorted = collect<UF[]>(arrayUf).sortBy('name); WRONG

sorted = collect(arrayUf).sortBy('name').toArray() as UF[];
setUf(sorted);

But i'm getting unkn

[2020-06-04 13:25] ecrmnn commented on #250
Don't do TS personally. Adding [help wanted]

[2020-06-07 14:16] #250 closed

[2020-06-22 10:15] LiXunGuan opened #251 "The sum method issues"
[code]

[2020-06-25 08:01] ecrmnn commented on #251
This seems to be a fundamental flaw in JS.
Would be happy to consider a solution.
PRs welcome.

[code]

[2020-06-25 09:44] #251 closed

[2020-06-25 18:57] kgryte commented on #251
This is **not** a fundamental flaw in JS. It is well known that, in general, when performing arithmetic operations in floating-point arithmetic, operations are not associative. There is no bug to fix here; this behavior should be expected.

If your operands are in random order and are of varying magnitude, use [compensated summation](https://github.com/stdlib-js/stdlib/blob/f4f160affa9237acd0ac842

[2020-06-25 19:14] kgryte commented on #251
As an addendum, I would advise against making [compensated summation](https://github.com/stdlib-js/stdlib/blob/f4f160affa9237acd0ac84239af8af02cb7f5f80/lib/node_modules/%40stdlib/blas/ext/base/dsumkbn) the default summation technique, because, to reiterate, no summation algorithm is universally optimal. For example, compensated summation algorithm can have worse accuracy on sorted datasets.

[2020-06-26 07:22] ecrmnn commented on #251
Thanks for clearing that up @kgryte
I phrased myself poorly but tried to say that this probably a language thing/intended and should be solved outside of this library. I don't have that much experience working with arithmetic so thanks again for your explanation 👍

[2020-07-02 07:01] marcus-at-localhost commented on #248
Got collect.min.js down from 99kb to 38kb :)
I guess it's ok to leave collect.js in development mode incl. all the source maps etc?!

[2020-07-02 09:08] ecrmnn commented on #248
Nice! Yeah I think its OK to leave collect.js i dev mode. I'll have a look at it :)

[2020-07-02 19:17] #248 closed

[2020-07-12 08:51] sohaibalam67 opened #255 "Support for `skipUntil` and `skipWhile`"
#### skipUntil
The skipUntil method skips items until the given value is found and then returns the remaining items in the collection:
[code]
Also, skipUntil method skips items until the given callback returns `true` and then returns the remaining items in the collection:

[code]
Laravel equivalent: https://laravel.com/docs/7.x/collections#method-skipuntil

#### skipWhile
The skipWhile method skip

[2020-07-13 11:27] ecrmnn commented on #255
Thanks for the heads up.
Merged https://github.com/ecrmnn/collect.js/commit/f0fdde1a90f7ffcfc9a2935116e50e361c81d65b

[2020-07-13 11:27] #255 closed

[2020-07-13 12:44] sohaibalam67 commented on #255
Oh! you already did it!
I thought I could take this up, had already finished it, but didn't open the PR, waited for your approval!
I'm just beginning to contribute to the open-source projects I use and find really useful.
Nevermind! Maybe next time!
And yeah, the source is really really good! simple and clean.

[2020-07-13 13:18] ecrmnn commented on #255
Hehe, yeah I had it sitting in a branch but hadn't finished it yet.
Feel free to contribute next time :)

[2020-07-13 14:04] sohaibalam67 commented on #255
Thought so!
Sure 😄

[2020-08-07 12:12] brentkelly opened #259 "Push & pull modify the original array/object"
Firstly - great project btw. Laravel collections are awesome & I was very happy when I came across it.

One issue I've noticed is that when you `push` to a collection it modifies the original source array. This seems like very unexpected behavior. It certainly doesn't line up with `Illuminate\Collection`.

[code]

Surely `foo` should be unchanged on `[1, 2, 3]` while the underlying array in the co

[2020-08-26 21:48] stasbamiza opened #260 "Support async functions"
I wonder your lib it's like a Laravel collections ;)

I tested collection with *async* functions, added *await* but it not work.

Do you plan add support for async functions?

[2020-08-26 21:52] ecrmnn commented on #260
Why would you use `await`?

[2020-08-26 21:59] stasbamiza commented on #260
Now I work *Selenium Webdriver* that have multiple nested consistent `async` collections. For my target important do all operations step by step. Now I created nested loops that do work bu I know that this can be look not so ugly and after several searchements I found * collect.js * that can make code more beauty.

[2020-08-27 07:35] ecrmnn commented on #260
Ok, I understand. At the moment I don't plan to support async/await, but PRs are welcome :)

[2020-08-27 07:35] #260 closed

[2020-09-04 18:49] ecrmnn commented on #259
Thanks for reporting this.
Since objects/arrays are passed by reference this happens.

We don't copy the value when calling `collect(variable)`.
Calling `push` would then mutate `variable`.

Fixing this would potentially cause new issues in other projects.
I think this needs to be part of a major release if it's going to be fixed.

I'm going to close this and think about it.
Thanks again for repor

[2020-09-04 18:49] #259 closed

[2020-09-06 22:41] brentkelly commented on #259
@ecrmnn agree re causing issues in other projects & being part of a major release.

One suggestion I would have is that until then perhaps it is worth noting it in the documentation - as the comparisons to Laravel create the natural expectation it will work the same.

Thanks!

[2020-10-14 18:43] Helfull opened #262 "Using put on an empty collection"
I have the following code written in typescript

[code]

now the output of this is

![image](https://user-images.githubusercontent.com/720645/96031382-8f11fc00-0e5d-11eb-972b-17bb3a943917.png)

i also tried it with a test and it failed

[code]

Question: should the collection check if the items are an array or an object?
Or should i always initialize the collection with either of them?

[2020-10-14 18:49] Helfull commented on #262
I discovered this problem while working with typescript + vuejs + collectjs.

In typescript i cant do `new Collection({})`, as there is no typescript definition with constructor arguments.

[2020-10-14 18:58] ecrmnn commented on #262
Yeah I've seen this too when using something like `put` on an empty collection or a collection based on an array.

Can you init your collection with `collect({})`?

[2020-10-14 19:01] Helfull commented on #262
yeah i can init with the `collect` function but not with the constructor as there is a missing definition in the typescript definition.

[2020-10-20 06:24] ecrmnn commented on #262
Closed in #263

[2020-10-20 06:24] #262 closed

[2020-10-25 02:55] ignasbernotas commented on #174
In case someone wonders here looking for a solution, here's a simple workaround:

[code]

[2020-11-11 05:31] ndinhbang opened #264 "'has' method return wrong result"
i have below code: https://runkit.com/ndinhbang/5fab75f6f8205200133e3273

[code]

the expected result is `true`, but it actually return `false`

[2020-11-13 17:05] Kassaila commented on #264
Hi, @ndinhbang.
This PR #265  will resolve problem with method 'has'.
In your example, if checking property first element in array, after `flip` return the object: `{  'aaa': 0 }`.
After `has`, checking return a value of key. In your case value `0`, thats equates to `false`.
All keys with negative values like: `0`, `null`, `undefined`, `''`, `false` - will return `false`.

I hope that helped.

[2020-11-16 18:58] ecrmnn commented on #264
Closed in 9a94695

[2020-11-16 18:58] #264 closed

[2020-11-17 03:36] ndinhbang commented on #264
@Kassaila thank you so much!
I think we can use `Object.prototype.hasOwnProperty.call(_this.items, key)`  instead of  `Object.keys(_this.items).includes(key)`
for better performance, right ?

[2020-11-18 12:18] Kassaila commented on #264
@ndinhbang Yes we can. If it gives the best performance, on a lot of operations with the method `has`.

[2020-11-18 13:13] ecrmnn commented on #264
✅ `hasOwnProperty` https://github.com/ecrmnn/collect.js/commit/02dff133957eb398f31aca899138a76603316491

[2020-11-19 07:52] ndinhbang commented on #264
@ecrmnn @Kassaila thank you

[2020-12-05 21:47] Xenovalis opened #266 "`each` does not provide keys"
The `each` function does not provide keys when iterating over the collection as it does with Laravel collections.
https://laravel.com/docs/8.x/collections#method-each

[2020-12-06 00:56] ecrmnn commented on #266
I believe this is currently working.
https://runkit.com/ecrmnn/5fcc2aec66aefb001a03d0e4

What are you experiencing?
Could you give me an example?

[2020-12-09 07:26] ecrmnn commented on #266
Closing due to inactivity. Please @ me if this is not working.

[2020-12-09 07:26] #266 closed

[2021-01-19 07:20] sosise opened #267 "index.d.ts"
Hello, could you please update `index.d.ts` file, because it does not contains all definitions what collect.js can.

Best regards

[2021-01-19 07:21] ecrmnn commented on #267
Hi @sosise.
Personally I do not use TypeScript.
PRs welcome 👍

[2021-01-19 07:21] #267 closed

[2021-01-19 07:30] sosise opened #268 "Type error when using .get()"
Hello,

I have also noticed that when you try to use default value in the .get() method, typescript is claiming about the types

Example:

[code]

Type error: `Argument of type '"my-default-value"' is not assignable to parameter of type '((...any: any[]) => unknown) | undefined'.ts(2345)`

[2021-01-21 07:22] ecrmnn commented on #268
Hi.
As I personally don't use TS I've never encountered this.
If you submit a PR I'll be happy to merge it

[2021-01-25 13:46] sosise commented on #268
#269 Pull request sent

[2021-06-15 23:17] jagoanmamah commented on #159
i have same problem, still not worked

[2021-08-11 17:21] Soletiq opened #273 "Key not defined when using sum"
The key is undefined when using `sum`. One would expect that if you could map over the values, you could also get the key.

[code]

[2021-08-16 17:09] ecrmnn commented on #273
Hey @Soletiq

This is working as intended.
We follow the convensions in Laravel collections - and it's not possible to get the key when using `sum`.
[See documentation](https://laravel.com/docs/8.x/collections#method-sum)
If you need the key you need to use a different method.

[2021-08-16 17:09] #273 closed

[2021-09-13 01:27] Mashiane opened #274 "A few questions"
Hi there

Can you please help me get clarity on.

Q1. Assuming your collection is defined from an array of objects, how do I get an index of a complete object?

There are some examples that are not clear for example wrap and unwrap? Can you make more clarifying examples that will perhaps show differences between what was originally passed and the output.

[2021-09-14 18:57] ecrmnn commented on #274
I'm not completely sure what you are asking.
You can get an item by index with the `get` method.
With collect.js you never _(at least rarely)_ look up something by index, that's kind of the point of the library, to give the developer a better experience iteracting with arrays and objects in JavaScript.
I've put together a few examples for you here 👇
https://runkit.com/embed/5k2djkphs7aw

Wrap will

[2021-09-14 18:58] #274 closed

[2021-09-16 21:52] Mashiane opened #275 "Question: How can I search starting at a particular position?"
Thanks a lot for the examples, they helped.

I also used the search method to get the position of a value / object. This works perfectly.

Now I need to be able to search for a text in the collection starting from a particular index e.g. 47. How can I achieve that?

Eventually what I am doing is to parse source code and this is coming very handy. The code I'm parsing is Visual Basic. So for exampl

[2021-10-07 13:08] maicol07 opened #276 "`collect()` without parameters doesn't hint type and defaults to Array"
`collect()` when called without a parameter defaults its type to `Array`. This way, the following `put` calls don't work.

Example:

[code]

Console output:

[code]

Sandbox: https://codesandbox.io/s/brave-glitter-hbr0n?file=/src/index.js

[2021-11-08 21:54] michaellburchett opened #277 "sole() needs implemented"
Looking to get involved in some open source projects and wondering if it would be beneficial for me to take a crack at implementing these last few that were not yet implemented from Laravel, starting with containsStrict()?

"The contains method uses "loose" comparisons when checking item values, meaning a string with an integer value will be considered equal to an integer of the same value. Use th

[2021-11-09 07:24] ecrmnn commented on #277
Hi, @michaellburchett

Great that you want to contribute! In collect.js all methods are strict by default, meaning that `contains()` is already strict and removes the need for `containsStric()`. You can see which methods and why we've chosen this approach here; https://github.com/ecrmnn/collect.js#strictness-and-comparisons

If you want to contribute here are a few methods you could implement
Some

[2021-11-11 20:46] michaelb-kr commented on #277
@ecrmnn  Ok, sounds good. I can close this one and volunteer to take up .sole() then. Thanks!

[2021-11-11 20:48] michaellburchett commented on #277
@ecrmnn Ok, sounds good. I can close this one and volunteer to take up .sole() then. Thanks!

[2021-12-31 20:25] stevebauman commented on #277
PR has been submitted: https://github.com/ecrmnn/collect.js/pull/280

[2022-01-21 09:12] ecrmnn commented on #277
Merged, https://github.com/ecrmnn/collect.js/commit/53483311b63db6dde31cf1d13e9aae612a72c734

[2022-01-21 09:12] #277 closed

[2022-01-21 13:29] ecrmnn opened #283 "Implement `diffUsing`"
Source
https://github.com/laravel/framework/blob/8.x/src/Illuminate/Collections/Collection.php#L223

[2022-01-21 13:29] ecrmnn opened #284 "Implement `diffAssocUsing`"
Source
https://github.com/laravel/framework/blob/8.x/src/Illuminate/Collections/Collection.php#L246

[2022-01-21 13:30] ecrmnn opened #285 "Implement `diffKeysUsing`"
Source
https://github.com/laravel/framework/blob/8.x/src/Illuminate/Collections/Collection.php#L269

[2022-01-21 13:30] ecrmnn opened #286 "Implement `hasAny`"
Source
https://github.com/laravel/framework/blob/8.x/src/Illuminate/Collections/Collection.php#L524

[2022-01-21 13:31] ecrmnn opened #287 "Implement `containsOneItem`"
Source
https://github.com/laravel/framework/blob/8.x/src/Illuminate/Collections/Collection.php#L598

[2022-01-21 13:36] ecrmnn opened #288 "hei  "
Source
https://github.com/laravel/framework/blob/8.x/src/Illuminate/Collections/Collection.php#L1038

[2022-01-21 13:37] ecrmnn opened #289 "Implement `splitIn`"
Source
https://github.com/laravel/framework/blob/8.x/src/Illuminate/Collections/Collection.php#L1135

[2022-01-21 13:37] ecrmnn opened #290 "Implement `chunckWhile`"
Source
https://github.com/laravel/framework/blob/8.x/src/Illuminate/Collections/Collection.php#L1224

[2022-01-21 13:38] ecrmnn opened #291 "Implement `sortByMany`"
Source
https://github.com/laravel/framework/blob/8.x/src/Illuminate/Collections/Collection.php#L1307

[2022-01-21 13:38] ecrmnn opened #292 "Implement `sortKeysUsing`"
Source
https://github.com/laravel/framework/blob/8.x/src/Illuminate/Collections/Collection.php#L1390

[2022-01-21 13:40] ecrmnn opened #293 "Implement `add`"
Source
https://github.com/laravel/framework/blob/8.x/src/Illuminate/Collections/Collection.php#L1585

[2022-01-26 18:00] maicol07 opened #294 "`first` passes a `null` argument to the function if the items inside the collection are organized in an object"
Example:

[code]

This instead works:
[code]

[2022-01-26 18:24] ecrmnn commented on #294
Great catch! Feel free to submit a PR ✨

[2022-01-26 18:37] maicol07 commented on #294
@ecrmnn done! Ready to merge!

[2022-03-15 12:31] mkantautas opened #296 "[Feature request] optional() helper would be great"
Any plans to include optional helper?  to avoid errors generated by accesing propeties on null objects.

https://laravel.com/docs/9.x/helpers#method-optional

[code]

[2022-03-16 20:49] ecrmnn commented on #296
Hi, @mkantautas

The `optional` helper isn't part of Laravel Collections, but a global helper function.

Since Collect.js adheres to the Laravel Collections API, there are no plans of implementing this.

I created a small example using the OR operator.
https://runkit.com/62324c8c6321b4000815097f/62324c8c977dfe000839ebc5

[MDN docs here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refer

[2022-03-16 20:58] #294 closed

[2022-03-22 06:06] hsn10 opened #297 "Does not work on AsyncGenerator"
Are async generators supported? If I do

it returns _undefined_

[2022-03-22 06:37] ecrmnn commented on #297
Hi, @hsn10

Only objects and arrays are supported, not generators.

[2022-03-22 06:37] #297 closed

[2022-04-08 20:20] #288 closed

[2022-04-19 08:17] mecjos opened #298 "Pluck on Nested Arrays Help"
Hi,

I'm trying to use pluck method on my nested array objects.. My structure is same as in docs but mine gets only first object of child array. my object array structure is as follows

https://ibb.co/7W7NcRS

And I try to collect sizes with following code;

`const totalSizePartCads = collect(this.parts).pluck('cads.*.size').sum()`

I want to sum sizes in parts object array below.

[code]

Where i

[2022-04-20 22:22] mecjos commented on #298
Hi @ecrmnn thanks for your reply.. I solved it by adding collaps method as follows:

`const totalSizePartCads = collect(this.parts).pluck('cads').collapse().pluck('size').sum()`

Thank you

[2022-04-21 11:38] ecrmnn commented on #298
🙌

[2022-04-21 11:38] #298 closed

[2022-04-27 20:42] #287 closed

[2022-06-01 15:36] jjjrmy opened #299 "Implement `undot`"
Source:
https://laravel.com/docs/9.x/collections#method-undot

[2022-06-02 19:59] #299 closed

[2022-06-06 05:04] peterroe opened #300 "Support esm?"

[2022-06-06 05:55] ecrmnn commented on #300
Sure, I'll be more than happy to review a PR. Please feel free to submit one 😄

[2022-06-23 21:37] BrennerSpear opened #304 "mapWithKeys().all() returns type array, when it's actually an object"
[code]

`keys.all()` returns type `unknown[]` when it should be returning an object type

[2022-06-25 07:40] ecrmnn commented on #304
Thanks for reporting.
I don’t personally use TypeScript, but would appreciate a pull request 😊

[2022-06-25 07:40] #304 closed

[2022-06-25 07:40] #276 closed

[2022-06-25 13:04] maicol07 commented on #276
Is this fixed?

[2022-06-27 12:09] peterroe commented on #300
I'm interested in trying to refactor it, and I'm going to refactor using `vite` and `vitest`, can I do this？

[2022-06-27 12:11] ecrmnn commented on #300
Why would you need Vite to support ESM? Is there something I’m missing here?

[2022-06-27 12:29] peterroe commented on #300
No, it's purely due to personal habits, but other than that, vite and vitest are faster and have more features, and make the refactored project more "younger"

[2022-06-27 12:39] ecrmnn commented on #300
Would appreciate a PR. Please keep it vanilla without any dependencies 😊

[2022-06-27 12:57] peterroe commented on #300
OK,  I am also think we shouldn't change to much,maybe I should create a new repo like `collect-es.js`?

[2022-07-04 18:37] BrennerSpear commented on #304
Just put up #306

[2022-07-17 05:20] peterroe commented on #300
I create a new repo to support `esm`😊 : https://github.com/peterroe/collect-es

[2022-09-05 12:26] creampnx-x commented on #283
Does this api still need to be implemented?

[2022-09-16 14:18] edwinvdpol opened #309 "Invalid `search` results"
Hi there,

I already saw a few issues which were related to `search`, but can someone explain this behaviour?
I am searching for a string value.

[code]
Am I doing to something wrong here?

Thanks,
Edwin